.page-group-box.atleta {
    background: #F9D541;
}

#atleta-intro .page-content {
    background-image: url("./imgs/paru-atleta-intro.webp");
    .no-webp & {
        background-image: url("./imgs/paru-atleta-intro.png");
    }
}

#atleta-pic {
    background: url("imgs/paru-atleta-pic-w1360.jpg") 50% 83%;
    background-size: cover;
    p {
        color: #F9D541;
        font-size: 5vw;
        left: 10vw;
        top: 16vh;
        .prop-LT-1por1 & {
            top: 15vh;
            left: 19vw;
            font-size: 7.5vw
        }
        .prop-LT-2por3 & {
            top: 33vh;
            left: 14vw;
            font-size: 14.5vw
        }
        span:last-child {
            display: block;
            margin-left: 2em;
        }
    }
}

#atleta-sobre {
    .pic {
        .prop-LT-2por1.prop-GT-1por1 & {
            left: 3vw;
            width: 50vw;
        }
        .prop-LT-1por1 & {
            max-height: calc( 100% - 40vh );
        }
    }
}

