.page#atleta-intro: .page-content
    h2 Paru
        small Atleta
    p.
        A figura do "Paru" veio totalmente do acaso, de uma brincadeira de criança.
        O apelido ficou e passei a ser conhecido assim na vida real falando sobre
        veganismo, saúde e esportes.
    p.
        O Paru de hoje é uma pessoa hiperativa, que tenta levar o veganismo onde
        quer que vá e tem o ativismo como uma de suas metas pessoais, pois não me
        me sinto realizado se não puder ajudar os outros seres com os quais dividimos
        o planeta.

.page#atleta-pic.page-pic: .page-content
    p
        span No Pain,
        span All Gain

.page#atleta-sobre.page-sobre: .page-content
    h3 Músculos
        small de alface
    p.
        A nutrição esportiva deve aliar um bom desempenho para os atletas recreativos
        e a manutenção da saúde dos atletas profissionais que competem em condições
        muito extremas, e em ambos grupos, uma alimentação baseada em vegetais tem
        se mostrado promotora da saúde e desempenho por fornecer os nutrientes
        necessários, um maior número de antioxidantes e com um nível de inflamação
        reduzido.
    .pic: img(src="imgs/paru-atleta.webp", data-src="imgs/paru-atleta")

