#fale
    h2 Fale comigo

    ul.contato
        li.whats: a(href="https://api.whatsapp.com/send?phone=5571996375858&amp;text=Oi!%20Acabei%20de%20acessar%20o%20seu%20site%20e%20gostaria%20de%20entrar%20em%20contato.") +55 (71) 99637-5858
        li.email: a(href="mailto:falecom@paru.me") falecom@paru.me
        li.insta: a(href="http://instagram.com/paruvegan") @paruvegan
        li.face:  a(href="http://fb.com/fisiculturistavegano") /fisiculturistavegano

#agende
    h2 Agende sua consulta

    a.agenda(href="javascript:construcao()") Ir para agenda

