#contato {
    background: #24ABAF no-repeat url(./imgs/paru-cat-contato.svg) 110% 110%;
    background-size: 50% 40%;

    .page-content {
        display: flex;
        justify-content: space-between;
        padding: 2em 10vw;

        h2 {
            font-size: 2em;
            margin: 0 0 3vh 0;
        }
    }
}

#fale {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 1.8vh 0;
            list-style: none;
        }
    }
    a {
        display: inline-block;
        color: #0A292D;
        text-decoration: none;
        background: transparent no-repeat 0 50%;
        background-size: 1.3em 1.3em;
        padding-left: 2em;
        line-height: 1.5em;
    }
    .whats a {
        background-image: url(./imgs/icon-whats.svg);
    }
    .insta a {
        background-image: url(./imgs/icon-insta.svg);
    }
    .face a {
        background-image: url(./imgs/icon-face.svg);
    }
    .email a {
        background-image: url(./imgs/icon-email.svg);
    }
//    icon-email.svg
//    icon-insta.svg
//    icon-face.svg
// github X iran
}

#agende {
    margin-left: 20vw;
    text-align: center;

    a {
        display: inline-block;
        margin-top: 3vh;
        padding: .5em 2em;
        border-radius: 2em;
        background: #19484B;
        color: #24ABAF;
        font-size: 2vw;
        text-decoration: none;
        position: relative;
        &::before, &::after {
            content: "";
            display: block;
            background: url(./imgs/sparcles.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            top: .2em;
            right: -4.5vw;
            width: 2.2em;
            height: 2.2em;
        }
        &::before {
            right: auto;
            left: -4.5vw;
            transform: scale(-1,1);
        }
    }
}
