& {
    background: #22AAB0 url("imgs/bg-vegan-fitness.svg");
    background-size: 75vh;
}

h1 {
    position: absolute;
    left: 5vw;
    top: 35vh;
    font-size: 5vw;
    font-family: Mark;
    * {
        display: block;
        font-weight: normal;
        &:nth-child(2) {
            padding-left: 1em;
        }
    }
    strong {
        color: #EC2;
        font-size: 6vw;
        font-family: Aller;
        padding-left: 2em;
    }
    .prop-LT-4por3 & {
        top: 12vh;
        left: 20vw;
        font-size: 7.5vh;
        line-height: 6vh;
        strong {
            font-size: 9vh;
            line-height: 7vh;
        }
    }
    .prop-LT-1por1 & {
        left: 15vw;
        font-size: 10vw;
        line-height: 7vh;
        strong {
            font-size: 12vw;
            line-height: 8vh;
        }
    }
    .prop-LT-2por3 & {
        top: 15vh;
        left: 10vw;
        font-size: 12vw;
        line-height: 12vw;
        strong {
            font-size: 14vw;
            line-height: 14vw;
        }
    }
}

#pic-intro {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10vw;
    &::before {
        content: "";
        display: block;
        width: 150vh;
        height: 150vh;
        border-radius: 50%;
        background: #144;
        position: absolute;
        bottom: -25vh;
        left: -48vw;
    }
    &::after {
        content: "";
        display: block;
        width: 64vw;
        height: 40vw;
        background: url("imgs/paru-cat.svg") no-repeat;
        background-size: contain;
        position: absolute;
        top: 20vh;
        left: -59vw;
    }
    img {
        position: absolute;
        bottom: -2px;
        right: 10vw;
        height: 80vh;
        z-index: 2;
    }
    .prop-LT-4por3 & {
        top: auto;
        bottom: 0;
        left: 75vw;
        right: 0;
        width: 0;
        &::before {
            width: 80vh;
            height: 80vh;
            border-radius: 50%;
            bottom: -12vh;
            left: -50vh;
        }
        &::after {
            top: -64vh;
            left: -46vw;
            width: 64vw;
            height: 40vw;
            transform: rotate(15deg);
        }
        img {
            bottom: 6.8vh;
            right: -14vh;
            height: 55vh;
        }
    }
    .prop-LT-1por1 & {
        &::before {
            width: 70vh;
            height: 70vh;
            left: -38vh;
        }
        &::after {
            top: -58vh;
            left: -43vh;
            width: 64vh;
            height: 40vh;
        }
        img {
            height: 50vh;
            bottom: 4.8vh;
            right: -20vh;
        }
    }
    .prop-LT-2por3 & {
        &::before {
            left: -35vh;
        }
        &::after {
            transform: rotate(20deg);
            top: -55vh;
            left: -41vh;
        }
        img {
            bottom: 4vh;
        }
    }
}

#conheca {
    position: absolute;
    left: 0;
    padding: 0.6em 4vw 0.6em 6vw;
    bottom: 10vh;
    border-radius: 0 1.2em 1.2em 0;
    color: #022;
    background: #229090;
    font-size: 1.8vw;
    font-family: Aller;
    z-index: 2;
    .prop-LT-4por3 & {
        left: auto;
        right: 0;
        bottom: 0;
        padding: 1vh 11vw 1vh 7vw;
        border-radius: 1.2em 0 0 1.2em;
        font-size: 4vw;
    }
    .prop-LT-1por1 & {
        padding: 1vh 12vw 1vh 8vw;
    }
}
