@font-face { font-family: "Aller";  src: url("./fontes/AllerDisplay.otf") }
@font-face { font-family: "Bariol"; src: url("./fontes/Bariol_Bold.otf"); font-weight: bold }
@font-face { font-family: "Bariol"; src: url("./fontes/Bariol_Regular.otf"); font-weight: normal }
@font-face { font-family: "Mark";   src: url("./fontes/mark_my_words_clean.otf") }
@font-face { font-family: "Source"; src: url("./fontes/SourceSansPro.otf"); font-weight: normal }
@font-face { font-family: "Source"; src: url("./fontes/SourceSansPro-Bold.otf"); font-weight: bold }

Bariol { font-family: Bariol }
span.Mark { font-family: Mark }
span.Source { font-family: Source }

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Source, sans-serif;
    font-size: 1.5vw;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 8vw 0 8vw;
    background: rgba(0,0,0,.8);
    font-family: Bariol;
    z-index: 10;
    a {
        display: inline-block;
        padding: 1em 1em .9em 1em;
        color: rgba(255,255,255,.8);
        text-decoration: none;
        text-transform: uppercase;
    }
    .prop-LT-1por1 & {
        padding: 0 2vw 0 2vw;
        a {
            font-size: 4vw;
            padding: .5em;
        }
    }
    .prop-LT-2por3 & {
        a {
            padding: .9em .5em .8em .5em;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Aller;
    font-weight: normal;
    margin: 0;
}

.page-group-box {
    height: 100%;
    overflow: hidden;
}

.page-group {
    display: flex;
    width: 300%;
    height: 100%;
}

.page {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    overflow: hidden;
    .pagination {
        position: absolute;
        top: 50%;
        width: 4em;
        height: 4em;
        background: url(imgs/next.svg) 50% 50% no-repeat;
        background-size: contain;
        opacity: .8;
        transition: 1s;
        .prop-LT-1por1 & {
            top: 10vh;
            width: 7em;
            height: 7em;
        }
        &.prev {
            left: 1vw;
            transform: rotate(180deg);
        }
        &.next {
            right: 1vw;
        }
        &[href=""] {
            opacity: .4;
        }
        &:not([href=""]):hover {
            opacity: 1;
            filter: drop-shadow(0 0 1em #FFF);
        }
    }
    .page-content {
        margin-top: 2em;
        padding: 2em 10vw 2em 55vw;
        background-position: 17% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        .prop-LT-1por1 & {
            font-size: 1.9vh;
            margin-top: 12vh;
            background-position: 50% 0%;
            padding: 80vw 10vw 2em 15vw;
        }
        .prop-tablet & {
            background-size: 66.666%;
            padding: 62vw 20vw 2em 25vw;
        }
        p {
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-align: justify;
        }
    }
    &.page-pic {
        p {
            position: absolute;
            left: 14vw;
            top: 33vh;
            font-size: 4.5vw;
            font-family: Mark;
            color: #FFF;
            .prop-LT-3por2 & { left: 10vw }
        }
    }
    &.page-sobre {
        .page-content {
            box-sizing: border-box;
            text-align: center;
            .prop-LT-1por1 & {
                margin: 0;
                padding: 10vh 10vw 0 10vw;
                height: 100%;
            }
            .prop-tablet & {
                padding: 0 25vw;
            }
            h3 small {
                font-size: .5em;
            }
            .pic {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: absolute;
                left: 15vw;
                bottom: 0vw;
                height: 90vh;
                .prop-LT-16por10 & { left: 9vw }
                .prop-LT-4por3 & { left: 2vw }
                .prop-LT-1por1 & {
                    width: 100%;
                }
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
        .prop-LT-1por1 & h3 {
            text-align: center;
            margin: 0 0 4vh 0;
            small {
                margin: 0;
                &::after {
                    position: relative;
                    margin: auto;
                }
            }
        }
    }
    h2, h3 {
        font-size: 3em;
        line-height: 80%;
        margin: 0 0 .7em -.82em;
        color: #0A292D;
        small {
            display: block;
            margin-left: 1em;
            font-size: .8em;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 1.5em;
                position: absolute;
                bottom: -.5em;
                border-bottom: .2em solid #0A292D;
            }
        }
    }
    h3 {
        font-size: 4em;
        margin: 0 0 .5em -.5em;
        small {
            &::before {
                width: 2em;
            }
        }
    }
}

.page#home { @import "home" }
@import "nutri";
@import "atleta";
@import "vegan";
@import "contato";
@import "obras";
