doctype html
html(lang="pt-BR")
    head
        meta(charset="utf-8")
        title PARU (nutri, vegan e atleta)
        meta(name="author", content="b.better & aurium.one")
        meta(name="description", content="Nutricionista, Vegan e Atleta")
        meta(name="viewport", content="width=device-width")
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="stylesheet", href="main.scss")
        script(src="main.coffee")
    body
        nav
            a(href="#home") Home
            a(href="#nutri-intro") Nutri
            a(href="#atleta-intro") Atleta
            a(href="#vegan-intro") Vegan
            a(href="#contato") Contato
        .page#home: .page-content
            include home.pug
        .page-group-box.nutri:  .page-group
            include nutri.pug
        .page-group-box.atleta: .page-group
            include atleta.pug
        .page-group-box.vegan:  .page-group
            include vegan.pug
        .page#contato: .page-content
            include contato.pug
        #obras.closed
            include obras.pug

