.page#nutri-intro: .page-content
    h2 Paru
        small Nutri
    p.
        Ter sido uma criança obesa foi um grande desafio 
        que me trouxe para o mundo dos cálculos 
        nutricionais e me proporcionou a chance de 
        conhecer a nutrição e suas vertentes. Tomei gosto 
        por lidar com paradigmas e demonstrar novos 
        caminhos para nos alimentarmos.
    p.
        Quero que as pessoas percebam que nosso sistema 
        alimentar ocidental é doente, irresponsável e 
        desprovido de emoções. Nutrição é um ato político!

.page#nutri-pic.page-pic: .page-content
    p
        span Saúde que vem
        span das plantas!
    img(src="imgs/paru-nutri-colheita.webp", data-src="imgs/paru-nutri-colheita")

.page#nutri-sobre.page-sobre: .page-content
    h3 Nutrição 
        small com outros olhos
    p.
        Acredito numa conduta nutricional baseada em vegetais, contendo em alimentos saborosos,
        integrais e de baixo processamento para a manutenção da saúde, bem-estar.
    p.
        Em caso de atletas profissionais ou recreativos, priorizo o desempenho esportivo almejado,
        aliado à uma dieta rica, natural e balanceada.
    .pic: img(src="imgs/paru-nutri-uniforme.webp", data-src="imgs/paru-nutri-uniforme")

