.page-group-box.nutri {
    background: #80AA44;
}

#nutri-intro .page-content {
    background-image: url("./imgs/paru-nutri-intro.webp");
    .no-webp & {
        background-image: url("./imgs/paru-nutri-intro.png");
    }
}

#nutri-pic {
    background: url("imgs/plantacao.jpg") 50% 50%;
    background-size: cover;
    .prop-LT-1por1 & { animation: move-nutri-bg 120s linear 0s infinite }
    .prop-GT-1por1 & { animation: move-nutri-bg 50s linear 0s infinite }
    img {
        position: absolute;
        right: 7vw;
        bottom: -5vw;
        height: 93vh;
        .prop-LT-3por2 & { right: 5vw }
        .prop-LT-1por1 & {
            height: auto;
            right: 5vw;
            width: 90vw;
        }
        .prop-LT-2por3 & {
            height: auto;
            right: -5vw;
            width: 110vw;
        }
        .prop-LT-1por2 & {
            height: auto;
            right: -15vw;
            width: 130vw;
        }
    }
    p {
        .prop-LT-1por1 & {
            top: 15vh;
            left: 19vw;
            font-size: 7.5vw
        }
        .prop-LT-2por3 & {
            top: 15vh;
            left: 14vw;
            font-size: 9.5vw
        }
        span:first-child {
            display: block;
            margin-left: 2em;
        }
    }
}

@keyframes move-nutri-bg {
     00% { background-position:   0% 50% }
     02% { background-position:   0% 50% }
     50% { background-position: 100% 50% }
     52% { background-position: 100% 50% }
    100% { background-position:   0% 50% }
}

#nutri-sobre {
//    h3 small {
//        font-size: .5em;
//    }
    .pic {
        .prop-LT-1por1 & {
            max-height: calc( 100% - 40vh );
        }
    }
    img {
        left: 15vw;
        .prop-LT-16por10 & { left: 12vw }
        .prop-LT-4por3 & { left: 2vw }
    }
}
