#obras {
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    background: #AC7;
    border: 10px solid #122;
    border-radius: 10vh;
    z-index: 10;
    overflow: hidden;
    text-align: center;
    font-size: calc( (1vh+1vw) * 2.7 );
    transition: 1s;
    &.closed {
      top: -100vh;
      bottom: 110vh;
    }
    > * {
        padding: calc( (1vh+1vw) * 3 );
    }
    header {
        background: rgba(255,255,255,0.5);
        h2 {
            font-family: inherit;
            font-size: inherit;
            font-weight: bold;
        }
    }
    .content button {
        font-size: 110%;
        padding: .3em 3em;
        background: #122;
        color: #FFF;
        border: none;
        border-radius: 1em;
    }
}
