header
    h2 Desculpe o transtorno!
    | A minha ageda virtual está em construção.

.content
    p.
      Para agendar uma consulta em Salvador-BA,
      entre em contato com a Clínica lural.

    p Telefone: 
        strong (71)3334-6149
        |  ou 
        strong (71)99993-6149

    p.
      Estou trabalhando para viabilizar o
      agendamento de consultas em demais estados.
      Qualquer dúvida ou sugestão, entre em
      contato comigo pelo e-mail disposto no site.

    button Entendi
