.page#vegan-intro: .page-content
    h2 Paru
        small Vegan
    p.
        O esporte sempre esteve na minha vida de forma lúdica e recreativa e até
        hoje permanece assim, mas o fisiculturismo me deu muito prazer e vários
        desafios ao competir como o primeiro bodybuilder vegano no Brasil. Levantar
        a bandeira do veganismo e estar competindo nacionalmente em nível igual
        a atletas onívoros é uma experiência verdadeiramante única.

.page#vegan-pic.page-pic: .page-content
    p
        span Juntos fazemos
        span a diferença!

.page#vegan-sobre.page-sobre: .page-content
    h3 Viva e 
        small deixe viver
    p.
        O veganismo aplicado ao nosso estilo de vida, deve ser saudável para todos:
        Animais, Ser Humano e Planeta. Devemos focar em uma vida com alimentação
        e ações que sejam eficientes no gerenciamento de recursos de nosso planeta
        e promotora de qualidade de vida e longevidade para as pessoas e para os
        outros seres vivos. O veganismo deve ser sustentável, assim cuidará de todos.
    .pic: img(src="imgs/paru-vegan.webp", data-src="imgs/paru-vegan")

