.page-group-box.vegan {
    background: #E16A41;
}

#vegan-intro .page-content {
    background-image: url("./imgs/paru-vegan-intro.webp");
    .no-webp & {
        background-image: url("./imgs/paru-vegan-intro.png");
    }
}

#vegan-pic {
    background: url("imgs/paru-vegan-pic.jpg") 50% 90%;
    background-size: cover;
    p {
        color: #E16A41;
        font-size: 4vw;
        left: 10vw;
        width: 80vw;
        top: auto;
        bottom: 36vh;
        span:last-child {
            position: absolute;
            top: -1em;
            right: 0vw;
        }
        .prop-LT-1por1 & {
            top: 15vh;
            left: 19vw;
            font-size: 7.5vw;
            span:last-child {
                position: static;
                display: block;
                margin: .6em 0 0 3em;
            }
        }
        .prop-tablet {
        }
        .prop-LT-2por3 & {
            top: 15vh;
            left: 14vw;
            font-size: 9.5vw
        }
    }
}

#vegan-sobre {
    .pic {
        left: 5vw;
        width: 50vw;
    }
}
